body {
    font-family: "proxima-nova";
    margin: 0;
    padding: 0;
    background-color: #181C27;
    max-width: 1920px;
    color: #ffffff;
    /*overflow: hidden;*/
}

header {
    position: sticky;
    top: 0;
    display: flex;
    max-width: 100vw;
    padding: 20px 40px 15px 40px;
    z-index: 1000;
} 

#logoContainer {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}
#logoContainer img {
    width: 74px;
    height: 19px;
    margin-top: 5px;
}

#navContainer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

#navContainer img {
    width: 40px;
    height: 40px;
}

.contentcontainer {
    height: 100vh;
    max-width: 100vw;
    margin-top: -75px;
    display: flex;
}

.titlecontainer {
    width: 600px;
    margin-left: 150px;
    padding-top: 250px;
}

.title {
    font-size: 22px;
    font-weight: 900;
}

#hometitle{
    color: #FFBA09;
}

#ubermichtitle {
    color: #FA91F9;
}

#resumetitle {
    color: #5BD0BA;
}

#projekttitle {
    color: #FFBA09;
}

#contacttitle {
    color: #5BD0BA;
}
.text{
    font-size: 32px;
    font-weight: 900;
}

#homecontent {
    height: 100vh;
    width: 100vw;
}

.bubbles {
    position: relative;
    display: flex;
} 

#home {
    position:relative;
    width: 100%;
    height: 100vh;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #5BD0BA; 
  margin: 0 4px; 
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44 , 0 0 50px #5BD0BA, 0 0 100px #5BD0BA;
  animation: animate 15s linear infinite;
  animation-duration: calc(120s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #FFBA09;
    box-shadow: 0 0 0 10px #4fc3dc44 , 0 0 50px #FFBA09, 0 0 100px #FFBA09;
}

@keyframes animate 
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}